body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  nav
    height: 4rem
  .container, .container-fluid
    position: absolute
    top: 4rem
    left: 0
    right: 0
    bottom: 0
    
nav.ease
  transition: all 0.5s ease

#mainImage img
  max-width: 100%
  width: 100%
  max-height: 100%
  height: 100%
  object-fit: contain


@font-face 
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(/fonts/MaterialIcons-Regular.eot)
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  /*font-size: 24px;  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

.card
  .card-img-top
    text-align: center

.action-block
  .card-img-top
    font-size: 4em
    
#folders
  .card-img-top
    font-size: 12em

#mainMenu
  position: absolute

  .action-block.has-pictures
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 18rem
  .menu-block.has-pictures
    overflow-y: scroll
    position: absolute
    top: 18rem
    left: 0
    right: 0
    bottom: 0
  .action-block.no-pictures
    display: none !important
  .menu-block.no-pictures
    overflow-y: scroll
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  #folders .card
    width: 15rem
    .card-img-top
      width: 15rem
      height: 20rem
      object-fit: contain
    .card-img-top svg
      width: 15rem
      height: 20rem
  #pictures .card
    width: 30rem
    svg
      width: 1rem
      height: 1rem
      margin-right: .2rem
  #bookmarks .card
    width: 15rem
    .card-img-top
      width: 15rem
      height: 20rem
      object-fit: contain
    .card-img-top svg
      width: 15rem
      height: 20rem

  .action-block .card
    cursor: pointer
    width: 8rem
    .card-img-top
      width: 8rem
      height: 3rem
      object-fit: contain
    .card-img-top svg
      width: 8rem
      height: 3rem
    .card-body
      padding-top: .2rem
      padding-bottom: .2rem

  .card.seen
    color: #00bc8c
    svg
      fill: #00bc8c
  .card.unseen
    svg
      fill: #222
.text-border
  font-weight: bold
  font-size: 1rem
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
  color: #000