extends ../_layout.pug

block navigation
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/settings/syncs') Synchronizers
      li.nav-item
        a.nav-link(href='/settings/hentaifoundry') Hentai Foundry
      li.nav-item
        a.nav-link(href='/settings/furaffinity') Fur Affinity
      li.nav-item
        a.nav-link(href='/settings/similarImages') Similar Images
        
block content
  div.container
    block centercontent